extends skeleton
block title
  title An error occurred
block content
  .grid-row.error
    .column-two-thirds
      h1.heading-xlarge
        block heading
      block prose
      a.link-back('/') Return to home page
